{% extends 'base.html.twig' %}

{% block title %}Accueil - BidCardCoin{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Site de vente aux enchères BidCardCoin</h1>
        <p>Bienvenue sur les sites de ventes aux enchères BidCardCoin, vous pouvez regarder les différents lots proposés
            à la vente,
            ainsi que proposer vos propres produits. Ils seront estimer par nos commissaires priseurs avant leur
            potentiel mise en vente.</p>
    </div>
    <div class="container-fluid">
        <h2 class="text-center mb-4">Les ventes en cours / prochaines</h2>
        <div class="d-flex justify-content-center flex-wrap">
            {% for lot in lots %}
                <div class="card mx-2 my-2" style="width: 28rem;">
                    {# <img src="..." class="card-img-top" alt="..."> #}
                    <div class="card-body">
                        <h5 class="card-title">{{ lot.vente.nomVente ~ ' --- ' ~ lot.nomLot }}</h5>
                        <p class="card-text">Description de la vente : {{ lot.vente.description }}</p>
                        <p class="card-text">Description du lot : {{ lot.description }}</p>
                        <p class="card-text">{{ 'Adresse : ' ~ lot.vente.adresse }}</p>
                        <div>
                            <p>Estimation du lot : {{ estimationLots[lot.id] }} €</p>
                            <p>Commissaire : {{ lot.vente.commissaire }}</p>
                            <p>Début vente : {{ lot.vente.dateStart ? lot.vente.dateStart|date('Y-m-d H:i:s') : ' - ' }}
                            <p>Clôture vente
                                : {{ lot.vente.dateEnd ? lot.vente.dateEnd|date('Y-m-d H:i:s') : ' - ' }}</p>
                            </p>
                        </div>
                        <a href="{{ path("lotvente_show", {"id":lot.id}) }}" class="btn btn-primary">Voir lot</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
