{% extends 'base.html.twig' %}

{% block title %}Estimation index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Liste des estimations</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>PrixEstimation</th>
                <th>DateEstimation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for estimation in estimations %}
                <tr>
                    <td>{{ estimation.id }}</td>
                    <td>{{ estimation.prixEstimation }}</td>
                    <td>{{ estimation.dateEstimation ? estimation.dateEstimation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('estimation_show', {'id': estimation.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-primary" href="{{ path('estimation_edit', {'id': estimation.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune estimation trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('estimation_new') }}">Ajouter</a>
    </div>
{% endblock %}
