{% extends 'base.html.twig' %}

{% block title %}Liste des enchères{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="mt-4 mb-4">Liste des enchères</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>DateEnchere</th>
                <th>PrixPropose</th>
                <th>EstAdjuge</th>
                <th>Lot</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for enchere in encheres %}
                <tr>
                    <td>{{ enchere.id }}</td>
                    <td>{{ enchere.dateEnchere ? enchere.dateEnchere|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ enchere.prixPropose }}</td>
                    <td>{{ enchere.estAdjuge ? 'Yes' : 'No' }}</td>
                    <td>{{ enchere.lot }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('enchere_show', {'id': enchere.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-primary" href="{{ path('enchere_edit', {'id': enchere.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune enchère trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('enchere_new') }}">Ajouter</a>
    </div>
{% endblock %}
